header {
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    padding: 20px;
    margin-left: 30px;
    padding-top: 80px;
    color: #fff;
}

nav {
    padding: 30px;
    background-color: rgba(35, 56, 67, 0.67);
}

ul {
    text-align: center;
}

li a {
    padding: 50px;
    color: aqua;
    text-decoration: none;
    font-family: 'Chathura', sans-serif;
    font-size: 25px;
    transition: 0.6s ease-out;
    border-right: 2px solid rgba(35, 56, 67, 0.67);
    padding: 30px 8px 0 10px;
    margin: 0 10px;
}

li a:hover {
    color: white;
    border right: 2px dotted #fff;
    padding-bottom: 24px;
}

li {
    list-style: none;
    margin-right: 30px;
    display: inline;
}

.wrapper {
    background-color: black;
}

.fluidcover {
    background: linear-gradient(rgba(19, 27, 23, 0.80), rgba(19, 27, 23, 0.80)), url(images/portfolio.jpg);
    height: 600px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.mail {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: lr-tb;
    float: right;
    position: relative;
    bottom: 200px;
}

.myself p {
    padding-right: 100px;
    padding-left: 100px;
}

.aboutme {
    text-align: center;
    color: #fff;
}

.aboutme h3 {
    font-family: 'Orbitron', sans-serif;
}

.aboutme p {
    font-family: 'Chathura', sans-serif;
    font-size: 30px;
}

.divider {
    background-image: url(images/tech.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    background-attachment: fixed;
}

.contact {
    background-color: rgba(35, 27, 26, 0.60);
}

footer {
    background-color: rgba(35, 56, 67, 0.67);
    padding: 15px;
}

footer i {
    transition: 0.7s ease;
    border-right: 2px solid rgba(35, 56, 67, 0.67);
    padding: 30px 8px 0 10px;
    margin: 0 10px;
}

footer i:hover {
    color: red;
    border right: 2px dotted #fff;
    padding-bottom: 24px;
}